:root {
  --dark: black;
  --light: white;
  --background: var(--light);
  --elements: var(--dark); }

.dark {
  --background: var(--dark);
  --elements: var(--light); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

body {
  background: var(--elements); }

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 30px;
  border: 20px solid var(--elements);
  margin: 0;
  background: var(--background); }

.button, .button--answer, .button--restart, .button--back {
  border-radius: 50px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0; }

main {
  text-align: center; }

p {
  max-width: 30ch;
  color: var(--elements); }

.hide {
  display: none; }
