:root {
  --dark: black;
  --light: white;
  --background: var(--light);
  --elements: var(--dark); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0; }

html {
  background: var(--background); }

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 30px;
  border: 20px solid black;
  margin: 0;
  background: var(--background); }

main {
  text-align: center; }

p {
  max-width: 30ch; }
