:root {
    --color: 240, 36%;

    --dark: var(--color), 10%;
    --light: var(--color), 95%;

    --background: hsla(var(--light), 1);
    --elements: hsla(var(--dark), 1);
    --shadows: hsla(var(--dark), 0.3);
}

.dark {
    --background: hsla(var(--dark), 1);
    --elements: hsla(var(--light), 1);
}

$background: var(--background);
$elements: var(--elements);
$unit : 2rem;


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: $elements;

}

.container {
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
    padding: calc(#{$unit}/2);

    font-size: 1.5rem;
    border-radius: 30px;
    border: 20px solid $elements;
    margin: 0;
    background: $background;
}


.button {
    border-radius: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1rem;
    border: 0;
    padding: calc(#{$unit} /2);
    color: $elements;
    box-shadow: 0 5px 4px 10px var(--shadows);

}

main {
    text-align: center;
}

p {
    max-width: 30ch;
    color: $elements;
}

.hide {
    display: none;
}